<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/perfil.jpg" alt="Foto de perfil" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Daiana Carnevali</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100008514543136" class="facebook"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/dai_valdez_/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/daiana-carnevali-a5a208258" class="linkedin"><i
            class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#inicio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Inicio</span></a></li>
        <li><a href="#resumen" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Resumen</span></a></li>
        <li><a href="#educacion" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Educación</span></a>
        </li>
        <li><a href="#experiencia" class="nav-link scrollto"><i class="bx bx-book-content"></i>
            <span>Experiencia</span></a></li>
        <li><a href="#habilidades" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Habilidades</span></a>
        </li>
        <li><a href="#contacto" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contacto</span></a></li>
        <li><a href="#login" class="nav-link scrollto"><i class='bx bx-log-in'></i><span>Ingresar</span></a></li>
      </ul>
    </nav>
  </div>
</header>